.error-page {
  height: 96vh;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.error-image-container {
  max-width: 450px;
}

.error-image {
  width: 100%;
  /* border-radius: 8px; */
  box-shadow: 0 6px 18px rgba(8, 203, 37, 0.615);
}

.error-page h1 {
  font-size: 48px;
  color: #f1350f;
  margin: 5px 0;
}

.error-page h2 {
  font-size: 20px;
  margin: 5px 0;
  color: #222;
  font-weight: bold;
}

.error-page p {
  font-size: 14px;
  color: #666;
  max-width: 300px;
  margin: 10px 0 20px;
}

.error-btn {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #f1350f;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  border: none;
}

.error-btn:hover {
  background-color: #d16823;
}
